body{
    background: url(./assets/shara\ desert.jpg);
    background-repeat: no-repeat;
    
    /* background-size: 100vh 100vw; */
    background-size:auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.first-container img{
    float:left;
    width: 60px;
    margin-left: 20px;
    margin-top: 10px;
}
.first-container{
    /* border: 2px solid red; */
    height: 70px;
}
.first-container span{
    float: right;
}
.home,.region,.about,.fa-bars{
    /* float: right; */
    margin: 16px 19px;
    color: white;
    font-size: 17px;
    text-decoration: none;
}
.fa-bars{
    background-color: rgb(124, 118, 118);
    border: 2px solid rgb(124, 118, 118);
    border-radius: 50%;
    padding: 6px;
    margin-right: 113px;
    /* margin-top: 10px; */
    /* margin-right: 107px; */
}
/* @media screen and (max-width: 600px) {
    .first-container a {
        float: right;
      display: block;
      width: 100%;
    }
} */




  .container2{
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
  
  }
  .item{
    margin: 10px;
    color: white;
  }
  #item1{
    /* border: 2px solid red; */
    width:700px;
    height: 350px;
    /* text-align: center; */
   /* padding-top: 140px; */
   color: white;
   margin-top: 80px;
  }
  #item1 p{
    font-size: 18px;
  }
  #item_2{
    /* border: 2px solid red; */
    /* display: flex; */
    justify-content: center;
    margin-left: 70px;
   
  }
  .flex1,.flex2{
    display: flex;
  }
  #item2{
    /* border: 2px solid red; */
    border-radius: 10px;
    width:250px;
    height: 250px;
    margin: 0px 30px 30px 30px;
    background: url(./assets/pic-1.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 18px;
    padding-top: 13px;
  }
  #item2,#item3,#item4,#item5 p{
    font-size: 13px;
  }
  #item3{
    /* border: 2px solid red; */
    border-radius: 10px;
    width:250px;
    height: 250px;
    margin-left: 30px;
    background: url(./assets/pic-2.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 18px;
    padding-top: 13px;
  }
  #item4{
    /* border: 2px solid red; */
    border-radius: 10px;
    width:250px;
    height: 250px;
    margin: 0px 30px 30px 30px;
    background: url(./assets/pic-3.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 18px;
    padding-top: 13px;

  }
  #item5{
    /* border: 2px solid red; */
    border-radius: 10px;
    width:250px;
    height: 250px;
    background: url(./assets/pic-4.png);
    margin-left: 30px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 18px;
    padding-top: 13px;
  }
  .btn{
    height: 45px;
    width: 200px;
    border: white;
    border-radius: 20px;
   font-size: 17px;
   font-family: serif;
   font-weight: bold;

  }
  @media screen and (max-width: 900px) {
    .container2,.item{
        flex-direction: column;
        /* justify-content: center; */
    }
    #item_2{
        margin: 0px auto;
    }
    .container1{
        padding: -140px;
    }
    .first-container{
        /* border: 2px solid red; */
        height: 10px;
    }
    #item2, #item3, #item4, #item5{
        width: 450px;
    }
    .flex1,.flex2{
      flex-direction: column;
    }

  }
  @media screen and (max-width: 700px){
    .home,.region,.about{
      margin: 0 20px;
      font-size: 23px;
    }

  }
  @media screen and (max-width: 700px) and (min-width: 600px){
      .home,.region,.about{
        float: none;
        display: block;
        margin-bottom: 5px;
      }
      .fa-bars{
        position: absolute;
        top: 4px;
        right: -210px;
      }
        .home{
          position: absolute;
          top: 2px;
          right: -68px;
        }
      
        .region{
          position: absolute;
          top: 26px;
          right: -68px;
        }
      
        .about{
          position: absolute;
          top: 50px;
          right: -68px;
        }
      
  }


  @media screen and (max-width: 600px) and (min-width: 500px){
      .home,.region,.about{
        float: none;
        display: block;
        margin-bottom: 5px;
      }
      .fa-bars{
        position: absolute;
        top: 4px;
        right: -287px;
      }
        .home{
          position: absolute;
          top: 2px;
          right: -148px;
        }
      
        .region{
          position: absolute;
          top: 26px;
          right: -148px;
        }
      
        .about{
          position: absolute;
          top: 50px;
          right: -148px;
        }
      
  }


  @media screen and (max-width: 500px) and (min-width: 400px){
      .home,.region,.about{
        float: none;
        display: block;
        margin-bottom: 5px;
      }
      .fa-bars{
        position: absolute;
        top: 4px;
        right: -358px;
      }
        .home{
          position: absolute;
          top: 2px;
          right: -223px;
        }
      
        .region{
          position: absolute;
          top: 26px;
          right: -223px;
        }
      
        .about{
          position: absolute;
          top: 50px;
          right: -223px;
        }
      
  }


  @media screen and (max-width: 400px) and (min-width: 300px){
      .home,.region,.about{
        float: none;
        display: block;
        margin-bottom: 5px;
      }
      .fa-bars{
        position: absolute;
        top: 4px;
        right: -440px;
      }
        .home{
          position: absolute;
          top: 2px;
          right: -308px;
        }
      
        .region{
          position: absolute;
          top: 26px;
          right: -308px;
        }
      
        .about{
          position: absolute;
          top: 50px;
          right: -308px;
        }
      
  }


  @media screen and (max-width: 300px) and (min-width: 220px){
      .home,.region,.about{
        float: none;
        display: block;
        margin-bottom: 5px;
      }
      .fa-bars{
        position: absolute;
        top: 4px;
        right: -553px;
      }
        .home{
          position: absolute;
          top: 2px;
          right: -403px;
        }
      
        .region{
          position: absolute;
          top: 26px;
          right: -403px;
        }
      
        .about{
          position: absolute;
          top: 50px;
          right: -403px;
        }
      
  }

 #item2:hover,#item3:hover,#item4:hover,#item5:hover{
  transform:translateY(-10px) ;
 }


 